.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: aliceblue;
  font-size: 32px;
}
form{ 
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2D2E4E;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

form button {
  padding: 10px;
  border-radius: 30px;
  background-color: #363467;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

form button:hover {
  filter: brightness(1.1);
}

form input {

  border: 1px solid #48456C;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}